body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button + button {
  margin-left: 10px;
}

.margin-top-xs {
  margin-top: 8px;
}

.margin-top-s {
  margin-top: 12px;
}
